# 함수를 이용한 데이터 추출
#inplace #sort_values

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
customerData = pd.read_csv("./dataset/customerdata.csv", encoding='ms949')

In [5]:
customerData.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

## EMI 별 MAX 값 구하기

In [8]:
emiMax = customerData.\
groupby(['EMI'], as_index=True).\
describe()

In [12]:
emiMax

    AVERAGEPRICE                                                     \
           count         mean         std          min          25%
EMI
1           11.0  3119.031810  301.047916  2390.083736  2978.220215
2          120.0  3441.429664  349.691674  2411.008838  3231.429242
3           19.0  3559.487188  454.411870  2811.265932  3219.363531

                                           DEVICECOUNT              ...     \
             50%          75%          max       count      mean    ...
EMI                                                                 ...
1    3159.839204  3363.814315  3419.462596        11.0  4.163636    ...
2    3418.480121  3656.799297  4166.533130       120.0  5.375833    ...
3    3592.353540  3867.447366  4296.873743        19.0  6.463158    ...

               PRODUCTAGE                                               \
      75%  max      count      mean       std  min       25%       50%
EMI
1    4.45  6.3       11.0  2.191810  0.551576  1.0  1.950595  2.139196
2    6.30  6.9      120.0  2.040539  0.802460  0.8  1.100000  2.137109
3    6.55  6.9       19.0  1.100819  0.348977  0.8  0.900000  1.000000


          75%       max
EMI
1    2.559718  2.994395
2    2.680352  3.483573
3    1.100000  2.055707

[3 rows x 24 columns]

In [7]:
customerData.sort_values(["EMI","AVERAGEPRICE"], ascending=[True,False],inplace=True)
customerData.head()

    CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
56  K10712   3419.462596    1          4.4    2.825790      Sleeping-dog
72  O13037   3398.216334    1          4.5    2.994395      Sleeping-dog
46  I14835   3374.091339    1          4.0    2.749678      Sleeping-dog
65  M16452   3353.537290    1          4.0    1.940357      Sleeping-dog
11  C18622   3246.000000    1          5.0    1.891624  Big-Screen-lover