# 함수를 이용한 데이터 추출
#inplace #sort_values

In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
def refining(df):
    if df['PRODUCTAGE'] < 1:
        return 1
    elif df['PRODUCTAGE'] < 2:
        return 2
    else:
        return 5

In [5]:
customerData = pd.read_csv("./dataset/customerdata.csv", encoding='ms949')

In [6]:
customerData.head()

   CUSTID  AVERAGEPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566   4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219   3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312   3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605   3713.211107    2          6.6    0.900000        Early-bird
4  B10634   3391.074215    2          4.2    2.453656      Sleeping-dog

In [9]:
customerData["PRODUCTAGE_ADD"] = customerData.apply(refining, axis=1)
customerData.head()

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_ADD
0,A13566,4273.900000,3,6.4,1.679181,Big-Screen-lover,2
1,A14219,3642.441950,2,4.0,2.682023,Sleeping-dog,5
2,A15312,3653.884565,2,5.0,3.208202,Sleeping-dog,5
3,A16605,3713.211107,2,6.6,0.900000,Early-bird,1
4,B10634,3391.074215,2,4.2,2.453656,Sleeping-dog,5

In [12]:
customerData.sort_values(["EMI","AVERAGEPRICE"], ascending=[True,False],inplace=True)
customerData.head()

,CUSTID,AVERAGEPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_ADD
56,K10712,3419.462596,1,4.4,2.825790,Sleeping-dog,5
72,O13037,3398.216334,1,4.5,2.994395,Sleeping-dog,5
46,I14835,3374.091339,1,4.0,2.749678,Sleeping-dog,5
65,M16452,3353.537290,1,4.0,1.940357,Sleeping-dog,2
11,C18622,3246.000000,1,5.0,1.891624,Big-Screen-lover,2